* {
  box-sizing: border-box; }

.main-container {
  display: grid;
  grid-template-areas: "header" "aside" "content" "footer"; }
  .main-container > header {
    grid-area: header; }
    .main-container > header nav > ul > li .dropdown-menu {
      left: -76px;
      top: 35px;
      position: absolute; }
  .main-container > main, .main-container > aside {
    min-height: auto !important; }
  .main-container > aside {
    grid-area: aside;
    background: #384042; }
    .main-container > aside ul {
      list-style: none;
      padding-left: 0px; }
      .main-container > aside ul li {
        text-align: center;
        line-height: 3; }
        .main-container > aside ul li a {
          font-size: 20px;
          text-align: left;
          padding-left: 30px;
          padding-right: 15px;
          color: white;
          display: block;
          text-decoration: none; }
          .main-container > aside ul li a:hover {
            background: #2c3334; }
        .main-container > aside ul li .fa-angle-down {
          margin-left: 15px; }
        .main-container > aside ul li ul > li > a {
          font-size: 15px;
          padding-left: 50px; }
        .main-container > aside ul li ul > li ul > li > a {
          font-size: 13px;
          padding-left: 70px; }
  .main-container > main {
    padding: 10px;
    grid-area: content; }
    .main-container > main #dashboard {
      padding: 10px; }
    .main-container > main #add-product form, .main-container > main #show-product form {
      width: 100%; }
      .main-container > main #add-product form label, .main-container > main #show-product form label {
        text-align: right;
        font-size: 0.8rem; }
      .main-container > main #add-product form .custom-file > label, .main-container > main #show-product form .custom-file > label {
        text-align: unset; }
      .main-container > main #add-product form > div:last-child, .main-container > main #show-product form > div:last-child {
        text-align: right; }
    .main-container > main #show-product .fa-times {
      color: red; }
    .main-container > main #add-product h1, .main-container > main #show-product h1, .main-container > main #chat-admin h1 {
      text-align: center;
      margin: 5px 0px 15px 0px; }
    .main-container > main #chat-admin .window {
      border: 1px solid rgba(0, 0, 0, 0.625);
      padding: 20px;
      overflow: auto;
      height: 500px; }
      .main-container > main #chat-admin .window .admin, .main-container > main #chat-admin .window .user {
        margin: 10px 0px; }
        .main-container > main #chat-admin .window .admin .title, .main-container > main #chat-admin .window .user .title {
          font-size: 10px; }
        .main-container > main #chat-admin .window .admin .text, .main-container > main #chat-admin .window .user .text {
          border-radius: 5px;
          padding: 5px; }
      .main-container > main #chat-admin .window .user .text {
        background: rgba(0, 0, 0, 0.05); }
      .main-container > main #chat-admin .window .admin {
        display: block;
        float: right; }
        .main-container > main #chat-admin .window .admin .text {
          background: rgba(0, 0, 0, 0.25); }
    .main-container > main #chat-admin form {
      margin-top: 10px; }
      .main-container > main #chat-admin form textarea, .main-container > main #chat-admin form button {
        width: 100%; }
      .main-container > main #chat-admin form button {
        margin-top: 3px; }
    .main-container > main #admin-product-management #filter {
      padding: 10px 0px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
      .main-container > main #admin-product-management #filter h3 {
        text-align: center; }
      .main-container > main #admin-product-management #filter .search-input {
        width: 100%; }
      .main-container > main #admin-product-management #filter .search-action {
        text-align: center;
        width: 100%; }
    .main-container > main #admin-product-management #content .pagination-top {
      float: right;
      margin-top: 15px; }
    .main-container > main #admin-product-management #content #products table thead {
      background: #384042;
      color: white; }
    .main-container > main #admin-product-management #content #products table tbody th {
      vertical-align: middle; }
    .main-container > main #admin-product-management #content #products table tbody .fa-times {
      float: right;
      color: red; }
    .main-container > main #admin-product-management #content #products table tbody tr, .main-container > main #admin-product-management #content #products table thead tr {
      border-bottom: 1px solid #dee2e6; }
    .main-container > main #admin-product-management #content #products table tbody th, .main-container > main #admin-product-management #content #products table tbody td, .main-container > main #admin-product-management #content #products table thead th, .main-container > main #admin-product-management #content #products table thead td {
      border-top: 0px; }
    .main-container > main #admin-product-management #content .pagination-bottom {
      clear: right;
      float: right; }
  .main-container > footer {
    grid-area: footer; }
    .main-container > footer .text {
      background: rgba(0, 0, 0, 0.05); }
      .main-container > footer .text p {
        text-align: center;
        margin-bottom: 0px;
        padding: 15px 0px; }

@media (min-width: 850px) {
  .main-container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "header header header header header header header header header header header header" "aside aside aside content content content content content content content content content" "aside aside aside footer footer footer footer footer footer footer footer footer"; }
    .main-container > main, .main-container > aside {
      min-height: 100vh !important; }
    .main-container #add-product form, .main-container #show-product form {
      width: 90% !important; }
      .main-container #add-product form label, .main-container #show-product form label {
        font-size: 1.25rem !important; }
      .main-container #add-product form a, .main-container #show-product form a {
        display: block !important; }
    .main-container #admin-product-management > #filter h3 {
      text-align: right; } }
@media (min-width: 1350px) {
  .main-container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "header header header header header header header header header header header header" "aside aside content content content content content content content content content content" "aside aside footer footer footer footer footer footer footer footer footer footer"; } }
@media (min-width: 991px) {
  #admin-product-management > #filter form .search-action {
    width: 100%; } }

/*# sourceMappingURL=admin_styles.css.map */
