* {box-sizing: border-box;}

.main-container {
    display: grid;
    grid-template-areas: 
    "header"
    "aside"
    "content"
    "footer";
    & > header {
        grid-area: header;
        nav > ul > li{
            .dropdown-menu {
                left: -76px;
                top: 35px;
                position: absolute;
            }
        }
    }
    & > main, & > aside {
        min-height: auto !important;
    }
    & > aside {
        grid-area: aside;
        background: #384042;
        ul {
            list-style: none;
            padding-left: 0px;
            li {
                text-align: center;
                line-height: 3;
                a {
                    font-size: 20px;
                    text-align: left;
                    padding-left: 30px;
                    padding-right: 15px;
                    color: white;
                    display: block;
                    text-decoration: none;
                    &:hover {
                        background: #2c3334;
                    }
                }
                .fa-angle-down {
                    margin-left: 15px;
                }
                ul > li {
                    & > a {
                        font-size: 15px;
                        padding-left: 50px;
                    }
                    ul > li {
                        & > a {
                            font-size: 13px;
                            padding-left: 70px;
                        }
                    }
                }
            }
            .add-product-button {
                .fa-plus {
                    margin-left: 15px;
                }
            }
        }
    }

    &  > main {
        padding: 10px;
        grid-area: content;
        #dashboard {
            padding: 10px;
        }
        #add-product, #show-product {
            form {
                width: 100%;
                label {
                    text-align: right;
                    font-size: 0.8rem;
                }
                .custom-file > label {
                    text-align: unset;
                }
                & > div:last-child {
                    text-align: right;
                }
            }
        }
        #show-product {
            .fa-times {
                color: red;
            }
        }
        #add-product, #show-product, #chat-admin {
            h1 {
                text-align: center;
                margin: 5px 0px 15px 0px;
            }
        }
        #chat-admin {
            .window {
                border: 1px solid rgba(0,0,0,.625);
                padding: 20px;
                overflow: auto;
                height: 500px;
                .admin, .user {
                    margin: 10px 0px;
                    .title {
                        font-size: 10px;
                    }
                    .text {
                        border-radius: 5px;
                        padding: 5px;
                    }
                }
                .user {
                    .text {
                        background: rgba(0, 0, 0, 0.05);
                    }
                }
                .admin {
                    display: block;
                    float: right;
                    .text {
                        background: rgba(0, 0, 0, 0.25);
                    }
                }
            }
            form {
                margin-top: 10px;
                textarea, button {
                    width: 100%;
                }
                button {
                    margin-top: 3px;
                }
            }
        }
        #admin-product-management {
            #filter {
                padding: 10px 0px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.125);
                h4 {
                    text-align: center;
                }
                .search-input {
                    width: 100%;
                }
                .search-action {
                    text-align: center;
                    width: 100%;
                }
            }
            #content {
                .pagination-top {
                    float: right;
                    margin-top: 15px;
                }
                #products {
                    table {
                        thead {
                            background: #384042;
                            color: white;
                        }
                        tbody {
                            th {
                                vertical-align: middle;
                            }
                            .fa-times {
                                float: right;
                                color: red;
                            }
                        }
                        tbody, thead { 
                            tr {
                                border-bottom: 1px solid #dee2e6;
                            }
                            th, td {
                                border-top: 0px;
                            }
                        }
                    }
                }
                .pagination-bottom {
                    clear: right;
                    float: right;
                }
            }
        }
    }

    & > footer {
        grid-area: footer;
        .text {
            background: rgba(0, 0, 0, 0.05);
            p {
                text-align: center;
                margin-bottom: 0px;
                padding: 15px 0px;
            }
        }
    }
}

@media(min-width: 850px) {
    .main-container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
        "header header header header header header header header header header header header"
        "aside aside aside content content content content content content content content content"
        "aside aside aside footer footer footer footer footer footer footer footer footer";
        & > main, & > aside {
            min-height: 100vh !important;
        }
        #add-product, #show-product {
            form {
                width: 90% !important;
                label {
                    font-size: 1.25rem !important;
                }
                a {
                    display: block !important;
                }
            }
        }
        #admin-product-management > #filter {
            h4 {
                text-align: right;
            }
        }
    }
}

@media(min-width: 1350px) {
    .main-container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
        "header header header header header header header header header header header header"
        "aside aside content content content content content content content content content content"
        "aside aside footer footer footer footer footer footer footer footer footer footer"
    }
}

@media(min-width: 991px) {
    #admin-product-management > #filter {
        form {
            .search-action {
                width: 100%;
            }
        }
    }
}