* {box-sizing: border-box;}

.main-container {
    margin: 0 auto;
    font: 1.2em Helvetica, arial, sans-serif;
    display: grid;
    grid-gap: 2px;
    grid-template-areas: 
    "header"
    "aside"
    "content"
    "footer"
}

.main-container > * {
	border: 2px solid #000;
	background-color: #EAF8BF;
	border-radius: 3px;
	padding: 10px;
}

@media(min-width: 500px) {
    .main-container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
        "header header header header header header header header header header header header"
        "aside aside aside content content content content content content content content content"
        "footer footer footer footer footer footer footer footer footer footer footer footer"
    }
}

.main-header {
    grid-area: header;
}

.main-aside {
    grid-area: aside;
}

.main-content {
    grid-area: content;
}

.main-footer {
    grid-area: footer;
}