* {box-sizing: border-box;}

.main-container {
    display: grid;
    grid-template-areas: 
    "header"
    "aside"
    "content"
    "footer";
    
    .btn-secondary {
        width: 100%;
        background-color: white;
        color: black;
        border: 1px solid black;
        &:hover {
            color: white;
            background-color: black;
        }
    }

    & > header {
        height: 300px;
        background: url(../images/header-background.jpeg), no-repeat center center fixed;
        background-size: cover;
        grid-area: header;
        .special-menu-part {
            max-width: 1080px;
            padding: 7px 0px;
            margin: 0 auto;
            text-align: right;
            background: rgba(0, 0, 0, 0.50);
            .login-register {
                margin-right: 15px;
                color: white;
                & > a {
                    color: white !important;
                }
            }
        }
        & > nav {
            border-radius: 5px;
            max-width: 1080px;
            margin: 0 auto;
            background: rgba(248, 249, 250, 0.95) !important;
        }
        .search-row {
            margin-top: 100px;
            .form {
                display: flex;
                justify-content: center;
                .form-control {
                    border-radius: 0px;
                    width: 80%;
                    height: 50px;
                }
                .search-button {
                    vertical-align: 0px;
                    height: 50px;
                    background-color: white;
                    border-radius: 0px;
                    border-top-right-radius: 7px;
                    border-bottom-right-radius: 7px;
                }
            }
        }
    }
    
    & > aside {
        grid-area: aside;
        background-color: white;
        & > .aside-menu-header {
            background-color: #cc0000;
            padding: 18px 0px;
            & > h3 {
                color: white;
                font-weight: 350;
                display: inline;
                margin-left: calc(50% - 60px);
            }
            & > button {
                background: rgba(255, 255, 255, 0.0);
                color: white;
                border: none;
                float: right;
                margin-right: 25px;
                margin-top: 3px;
                display: block;
            }
        }
        & > div > ul {
            list-style: none;
            padding: 10px 10px 20px 27px;
            border: 1px solid #ddd;
            & > li {
                line-height: 2.2;
                display: block;
                & > a {
                    text-decoration: none;
                    color: rgba(0, 0, 0, 0.65);
                    font-size: 20px;
                    font-weight: 350;
                    &:hover {
                        color: rgba(0, 0, 0, 0.95);
                    }
                }
                & > .submenu {
                    list-style-type: none;
                    padding-left: 5px;
                    display: none;
                    -webkit-transition: display 600ms;
                    transition: display 600ms;
                    a {
                        font-size: 15px;
                        font-weight: 330;
                        color: rgba(0, 0, 0, 0.65);
                        &:hover {
                            text-decoration: none;
                            color: rgba(0, 0, 0, 1);
                        }
                    }
                }
                &:hover .submenu {
                    display: block;
                }
            }
        }
    }
    
    & > main {
        grid-area: content;
        & > #carouselExampleControls > .carousel-inner {
            height: 440px;
        }
        h1 {
            text-align: center;
            padding: 20px 0px;
            background: black;
            color: white;
        }
        #products, #filtered-products, #searched-products, #product-info {
            h1 {
                margin: 10px 0px;
            }
            h2 {
                margin: 15px 0px;
            }
            .product {
                margin: 0 auto;
                .card-title {
                    text-align: center;
                    font-size: 17px;
                }
                .card-subtitle {
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: 19;
                }
                .card-price {
                    margin: 20px;
                    text-align: center;
                    font-size: 20px;
                }
                .card-buttons {
                    padding: 0px;
                    text-align: center;
                    a {
                        width: 95%;
                    }
                }
                .btn-light {
                    border: 1px solid;
                }
                .btn-dark {
                    background-color: #cc0000;
                    border-color: #cc0000;
                }
            }
        }
        #filtered-products, #searched-products {
            .product {
                margin: 0 auto;
                margin-bottom: 15px;
            }
            .pagination {
                list-style: none;
                margin-bottom: 0px;
                float: right;
                .page-item.active .page-link{
                    background-color: black;
                    border-color: black;
                    color: white;
                }
                .page-link {
                    color: black;
                }
            }
        }
        #filter-panel {
            padding: 15px;
            border: 1px solid;
            border-radius: 5px;
            margin-bottom: 10px;
            .btn-light {
                border: 1px solid;
            }
            .pagination {
                list-style: none;
                margin-bottom: 0px;
                float: right;
                .page-item.active .page-link{
                    background-color: black;
                    border-color: black;
                    color: white;
                }
                .page-link {
                    color: black;
                }
            }
        }
        #registration {    
            h2 {
                margin: 20px 0px;
            }
        }
        #product-info {
            h2 {
                text-align: center;
            }
            form {
                .form-group {
                    margin-left: 0px !important;
                    margin-right: 5px !important;
                }
                #inputCount {
                    width: 60px;
                }
                .btn-secondary {
                    width: 70%;
                }
            }
        }
    }
    
    & > footer {
        grid-area: footer;
        background-color: white;
        & > .row:first-child {
            margin-top: 35px;
            margin-bottom: 25px; 
        }
        & > .row:last-child {
            background: rgba(0, 0, 0, 0.05);
            & > p {
                padding: 13px;
                margin: 0 auto;
            }
        }
        .line {
            border-bottom-width: 1px;
            border-bottom-color: black;
            border-bottom-style: solid;
            width: 50px;
            margin-top: 15px;
            margin-bottom: 17px;
        }
        ul {
            list-style: none;
            padding-left: 5px;
            & > li {
                line-height: 1.9;
                & > a {
                    text-decoration: none;
                    color: rgba(0,0,0,.6);
                    &:hover {
                        color: rgba(0,0,0,0.9);
                    }
                }
            }
        }
    }
    
    .chat {
        position: fixed;
        bottom: 15px;
        right: 5px;
        .window {
            height: 217px;
            width: 300px;
            background-color: white;
            border: 1px solid rgba(0,0,0,.125);
            margin-bottom: 18px;
            display: none;
            .toolbar {
                width: auto;
                height: 20px;
                background-color: white;
                border-bottom: 1px solid rgba(0, 0, 0, 0.125);
                text-align: right;
                .fa-times, .fa-minus {
                    margin-right: 5px;
                    margin-bottom: 2px;
                }
            }
            .content {
                overflow: auto;
                height: 170px;
                .admin, .user {
                    margin-top: 5px;
                    margin-bottom: 5px;
                    font-size: 13px;
                    width: 190px;
                    display: block;
                    .title {
                        font-size: 10px;
                        span {
                            color: rgba(0, 0, 0, 0.75);
                        }
                    }
                    .text {
                        border-radius: 5px;
                    }
                }
                .admin {
                    .text, .title {
                        margin-left: 10px;
                    }
                    .text {
                        padding: 3px 0px 3px 8px;
                        background: rgba(0, 0, 0, 0.05);
                    }
                }
                .user {
                    float: right !important;
                    margin-right: 10px;
                    .title {
                        text-align: right;
                        margin-right: 10px;
                    }
                    .text {  
                        padding: 5px;
                        background: rgba(0, 0, 0, 0.15);
                    }
                }
            }
            form {
                max-height: 30px;
                input {
                    width: 100%;
                    padding: 0px;
                    border-radius: 0px;
                }
            }
        }
        .help-title {
            background-color: #cc0000;
            padding: 15px 25px;
            color: white;
            font-weight: 500;
            line-height: 1.2;
            font-size: 2rem;
            border-right: 2px solid #cc0000;
        }
    }
    
}

@media(min-width: 850px) {
    .main-container {
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 10px;
        grid-template-areas: 
        "header header header header header header header header header header header header"
        "aside aside aside content content content content content content content content content"
        "footer footer footer footer footer footer footer footer footer footer footer footer"
    }

    .aside-menu-header > button {
        display: none !important;
    }
}

@media(min-width: 1200px) {
    .main-container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
        "header header header header header header header header header header header header"
        ". aside aside content content content content content content content content ."
        "footer footer footer footer footer footer footer footer footer footer footer footer"
    }
}

@media(max-width: 849px) {
    #filter-panel {
        margin-top: 10px;
    }
    
    #registration {
        h1 {
            margin-top: 5px;
        }
    }
}

@media(max-width: 767px) {
    h4 {
        margin-top: 30px !important;
    }
    .line {
        margin-bottom: 20px !important;
    }
    #filter-panel > div > div:not(:last-child) {
        margin-bottom: 10px;
    }
    #product-info {
        .structural {
            text-align: center;
            form {
                .form-group {
                    margin-left: calc(15%) !important;
                }
            }
        }
    }
}
.shown {
    display: block !important;
}